---
title: "Include file"
description: "Include file"
ms.custom: "include file"
ms.topic: "include"
ms.date: 09/23/2024
---
 

1. To see the test results and artifacts on Playwright portal, open the link generated at the end of test run in the console. The portal contains the CI information, test run status, and commit ID associated with the test run.
    
    :::image type="content" source="../media/include-playwright-portal-view-test-results/playwright-testing-open-test-run.png" alt-text="Screenshot that shows list of tests in the test run." lightbox="../media/include-playwright-portal-view-test-results/playwright-testing-open-test-run.png":::

3. Open any failed test to see all the required information to troubleshoot. Switch between retries, see error logs, test steps, and attachments such as screenshots and video. Navigate to the trace viewer from here. 

    :::image type="content" source="../media/include-playwright-portal-view-test-results/playwright-testing-open-test.png" alt-text="Screenshot that shows the preview of a test" lightbox="../media/include-playwright-portal-view-test-results/playwright-testing-open-test.png":::

4. Use the trace viewer to visually step through your test execution, or use the timeline to hover over steps and reveal the page state before and after each action. Detailed logs, DOM snapshot, network activity, errors, and console output are available at each test step.

    :::image type="content" source="../media/include-playwright-portal-view-test-results/playwright-testing-trace-viewer.png" alt-text="Screenshot that shows the trace viewer" lightbox="../media/include-playwright-portal-view-test-results/playwright-testing-trace-viewer.png":::

