{:template-header
   "
## Acrolinx Scorecards

Acrolinx checked the .md files in this pull request for grammar, spelling, punctuation, writing style, and terminology. Review the scorecards for each article and make the
recommended improvements.

"

   ;; do not remove the spaces at the end of lines! That is markdown for
   ;; linebreak
   :template-change
   "
* Article: ${github/filename}
  [Scorecard link](${acrolinx/scorecard})
  Number of issues: ${acrolinx/flags/total}
  Score: ${acrolinx/qualityscore}

"

 :template-footer
"
**Note:** The scorecard links are good for one hour. If you are prompted to authenticate because the links expired, use these credentials or close and reopen the pull request:

>Account: report-viewer
>Password: kermit$

"}
