{:allowed-branch-names ["master" "acrolinx-test" "release-azure-stack-tp2" "release-government" "release-ignite-2016" "release-managed-storage"]
 :allowed-filename-matches ["articles" "includes"]

 :template-header
   "
## Acrolinx Scorecards (Beta)

Click the scorecard links for each article to review the Acrolinx feedback on grammar, spelling, punctuation, writing style, and terminology:

| Article | Score | Issues | Scorecard |
| ------- | ----- | ------ | --------- |
"

   ;; do not remove the spaces at the end of lines! That is markdown for
   ;; linebreak
   :template-change
   "| **${github/filename}** | ${acrolinx/qualityscore} | ${acrolinx/flags/issues} | [link](${acrolinx/scorecard}) |
"

 :template-footer
"
**More info about Acrolinx**

- The scorecard links are good for one hour. If you're prompted to authenticate, you can close and reopen the PR to get new links. Or, use these credentials:
  Account: report-viewer
  Password: kermit$

- [Want more info about Acrolinx?](https://microsoft.sharepoint.com/teams/azurecontentguidance/CrossAzure Projects/Acrolinx-Kickoff.pptx?d=w7f94b3850fce4fb4ae214e466e6b4d3b)

- [Report false positive results or other issues](https://mseng.visualstudio.com/TechnicalContent/_workItems/create/Task?%5BSystem.Title%5D=Acrolinx%3A+%3Ctitle%3E&%5BSystem.AssignedTo%5D=Tyson+Nevil+%3Ctysonn%40microsoft.com%3E&%5BSystem.Description%5D=%3Cdiv%3E%3Cfont+color%3D%22%23000000%22+face%3D%22Segoe+UI%2C+Tahoma%2C+Arial%2C+Verdana%22%3EPlease+include+the+following+details%3A%3C%2Ffont%3E%3C%2Fdiv%3E%3Cul+style%3D%22color%3A+rgb(0%2C+0%2C+0)%3B+font-family%3A+%26quot%3BSegoe+UI%26quot%3B%2C+Tahoma%2C+Arial%2C+Verdana%3B%22%3E%3Cli%3EA+link+to+the+Acrolinx+report+that+contains+the+issue.%3C%2Fli%3E%3Cli%3EA+detailed+description+of+the+issue.%3C%2Fli%3E%3Cli%3EAttach+screenshot+(optional)%3C%2Fli%3E%3C%2Ful%3E%3Cdiv%3E%3Cfont+color%3D%22%23000000%22+face%3D%22Segoe+UI%2C+Tahoma%2C+Arial%2C+Verdana%22%3EWork+items+that+lack+a+link+to+the+report+and+a+clear+description+will+be+closed.%3C%2Ffont%3E%3C%2Fdiv%3E&%5BSystem.Tags%5D=Acrolinx)

"}
