# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text

# Include Markdown in the GitHub language breakdown statistics
*.md linguist-detectable

# Denote all files that are truly binary and should not be modified.
*.gif   binary
*.ico   binary
*.jpg   binary
*.png   binary

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# DOCS Specific Settings
# .openpublishing.redirection.json merge=union