log/
obj/
_site/
.optemp/
_themes/
_themes.MSDN.Modern/
_themes.VS.Modern/

.openpublishing.buildcore.ps1

AzureMigration.ps1
.migrationtemp
articles/directories.txt

.vscode/*
.settings.json

.DS_Store