# Operating System files
.DS_Store
Thumbs.db

# Visual Studio and VS Code files
.vscode/*
.vs/*
log/
obj/

# APEX and OPS Files
.migrationtemp
.openpublishing.buildcore.ps1
.optemp/
_repo.*/
_site/
_themes*/
_themes.MSDN.Modern/
_themes.VS.Modern/
articles/directories.txt
AzureMigration.ps1

!/.vscode/extensions.json
.gitignore
**/.vscode/settings.json
*.pdn

# Pycharm
.idea/*
articles/planetary-computer/doc-tree-generator.py
.gitignore
articles/planetary-computer/article_links_diagram.md
articles/planetary-computer/index_helper.py
articles/planetary-computer/metadata_index.csv
articles/planetary-computer/broken_link_checker.py
articles/planetary-computer/broken_links_external.csv
articles/planetary-computer/broken_links.csv
articles/planetary-computer/check_orphaned_docs.py

# Python cache files
*.pyc
__pycache__/
articles/planetary-computer/interesting_stats.py
articles/planetary-computer/locate_text.py
articles/planetary-computer/image_syntax_checker.py
articles/planetary-computer/image-file-fixer.py
articles/planetary-computer/orphaned-media.py
articles/planetary-computer/orphaned_media_files.txt
articles/planetary-computer/naip-airports.md
articles/planetary-computer/sentinel-2-l2a-grindavik.md
articles/planetary-computer/temp_editor.md
articles/planetary-computer/umbra-sar.md
articles/planetary-computer/geocatalog_configs/buildingfootprint/mosaics.json
articles/planetary-computer/geocatalog_configs/buildingfootprint/render-options.json
articles/planetary-computer/geocatalog_configs/buildingfootprint/stac.json
articles/planetary-computer/geocatalog_configs/buildingfootprint/tile-settings.json
articles/planetary-computer/geocatalog_configs/ecmwf-forecast/mosaics.json
articles/planetary-computer/geocatalog_configs/ecmwf-forecast/render-options.json
articles/planetary-computer/geocatalog_configs/ecmwf-forecast/stac.json
articles/planetary-computer/geocatalog_configs/ecmwf-forecast/tile-settings.json
articles/planetary-computer/geocatalog_configs/esa-cci-lc/mosaics.json
articles/planetary-computer/geocatalog_configs/esa-cci-lc/render-options.json
articles/planetary-computer/geocatalog_configs/esa-cci-lc/stac.json
articles/planetary-computer/geocatalog_configs/esa-cci-lc/tile-settings.json
articles/planetary-computer/geocatalog_configs/esa-cci-lc-netcdf/mosaics.json
articles/planetary-computer/geocatalog_configs/esa-cci-lc-netcdf/render-options.json
articles/planetary-computer/geocatalog_configs/esa-cci-lc-netcdf/stac.json
articles/planetary-computer/geocatalog_configs/esa-cci-lc-netcdf/tile-settings.json
articles/planetary-computer/geocatalog_configs/fws-nwi/mosaics.json
articles/planetary-computer/geocatalog_configs/fws-nwi/stac.json
articles/planetary-computer/geocatalog_configs/fws-nwi/tile-settings.json
articles/planetary-computer/geocatalog_configs/fws-nwi-tutorial-943/mosaics.json
articles/planetary-computer/geocatalog_configs/fws-nwi-tutorial-943/stac.json
articles/planetary-computer/geocatalog_configs/fws-nwi-tutorial-943/tile-settings.json
articles/planetary-computer/geocatalog_configs/fws-nwi-tutorial-97/mosaics.json
articles/planetary-computer/geocatalog_configs/fws-nwi-tutorial-97/stac.json
articles/planetary-computer/geocatalog_configs/fws-nwi-tutorial-97/tile-settings.json
articles/planetary-computer/geocatalog_configs/GEBCO_bathymetry/mosaics.json
articles/planetary-computer/geocatalog_configs/GEBCO_bathymetry/render-options.json
articles/planetary-computer/geocatalog_configs/GEBCO_bathymetry/stac.json
articles/planetary-computer/geocatalog_configs/GEBCO_bathymetry/tile-settings.json
articles/planetary-computer/geocatalog_configs/goes-glm/mosaics.json
articles/planetary-computer/geocatalog_configs/goes-glm/stac.json
articles/planetary-computer/geocatalog_configs/goes-glm/tile-settings.json
articles/planetary-computer/geocatalog_configs/guam-dem/mosaics.json
articles/planetary-computer/geocatalog_configs/guam-dem/render-options.json
articles/planetary-computer/geocatalog_configs/guam-dem/stac.json
articles/planetary-computer/geocatalog_configs/guam-dem/tile-settings.json
articles/planetary-computer/geocatalog_configs/LA-Fires/mosaics.json
articles/planetary-computer/geocatalog_configs/LA-Fires/render-options.json
articles/planetary-computer/geocatalog_configs/LA-Fires/stac.json
articles/planetary-computer/geocatalog_configs/LA-Fires/tile-settings.json
articles/planetary-computer/geocatalog_configs/meta-population/render-options.json
articles/planetary-computer/geocatalog_configs/meta-population/stac.json
articles/planetary-computer/geocatalog_configs/meta-population/tile-settings.json
articles/planetary-computer/geocatalog_configs/modis-14A1-061/mosaics.json
articles/planetary-computer/geocatalog_configs/modis-14A1-061/stac.json
articles/planetary-computer/geocatalog_configs/modis-14A1-061/tile-settings.json
articles/planetary-computer/geocatalog_configs/modis-21A2-061/mosaics.json
articles/planetary-computer/geocatalog_configs/modis-21A2-061/stac.json
articles/planetary-computer/geocatalog_configs/modis-21A2-061/tile-settings.json
articles/planetary-computer/geocatalog_configs/monrovia-drone/mosaics.json
articles/planetary-computer/geocatalog_configs/monrovia-drone/render-options.json
articles/planetary-computer/geocatalog_configs/monrovia-drone/stac.json
articles/planetary-computer/geocatalog_configs/monrovia-drone/tile-settings.json
articles/planetary-computer/geocatalog_configs/naip-airports/mosaics.json
articles/planetary-computer/geocatalog_configs/naip-airports/render-options.json
articles/planetary-computer/geocatalog_configs/naip-airports/stac.json
articles/planetary-computer/geocatalog_configs/naip-airports/tile-settings.json
articles/planetary-computer/geocatalog_configs/NAIP_Duplin_NC/mosaics.json
articles/planetary-computer/geocatalog_configs/NAIP_Duplin_NC/render-options.json
articles/planetary-computer/geocatalog_configs/NAIP_Duplin_NC/stac.json
articles/planetary-computer/geocatalog_configs/NAIP_Duplin_NC/tile-settings.json
articles/planetary-computer/geocatalog_configs/nasa-nex-gddp-cmip6/mosaics.json
articles/planetary-computer/geocatalog_configs/nasa-nex-gddp-cmip6/render-options.json
articles/planetary-computer/geocatalog_configs/nasa-nex-gddp-cmip6/stac.json
articles/planetary-computer/geocatalog_configs/nasa-nex-gddp-cmip6/tile-settings.json
articles/planetary-computer/geocatalog_configs/ndvi_diff/mosaics.json
articles/planetary-computer/geocatalog_configs/ndvi_diff/render-options.json
articles/planetary-computer/geocatalog_configs/ndvi_diff/stac.json
articles/planetary-computer/geocatalog_configs/ndvi_diff/tile-settings.json
articles/planetary-computer/geocatalog_configs/noaa-climate-normals-netcdf/mosaics.json
articles/planetary-computer/geocatalog_configs/noaa-climate-normals-netcdf/render-options.json
articles/planetary-computer/geocatalog_configs/noaa-climate-normals-netcdf/stac.json
articles/planetary-computer/geocatalog_configs/noaa-climate-normals-netcdf/tile-settings.json
articles/planetary-computer/geocatalog_configs/noaa-hrrr-sfc-conus/mosaics.json
articles/planetary-computer/geocatalog_configs/noaa-hrrr-sfc-conus/stac.json
articles/planetary-computer/geocatalog_configs/noaa-hrrr-sfc-conus/tile-settings.json
articles/planetary-computer/geocatalog_configs/noaa-hrrr-sfc-conus-test/mosaics.json
articles/planetary-computer/geocatalog_configs/noaa-hrrr-sfc-conus-test/stac.json
articles/planetary-computer/geocatalog_configs/noaa-hrrr-sfc-conus-test/tile-settings.json
articles/planetary-computer/geocatalog_configs/noaa-mrms-qpe-1h-pass1/render-options.json
articles/planetary-computer/geocatalog_configs/noaa-mrms-qpe-1h-pass1/stac.json
articles/planetary-computer/geocatalog_configs/noaa-mrms-qpe-1h-pass1/tile-settings.json
articles/planetary-computer/geocatalog_configs/potsdam-aerial/mosaics.json
articles/planetary-computer/geocatalog_configs/potsdam-aerial/render-options.json
articles/planetary-computer/geocatalog_configs/potsdam-aerial/stac.json
articles/planetary-computer/geocatalog_configs/potsdam-aerial/tile-settings.json
articles/planetary-computer/geocatalog_configs/sentinel-2-l2a-tutorial-231/mosaics.json
articles/planetary-computer/geocatalog_configs/sentinel-2-l2a-tutorial-231/render-options.json
articles/planetary-computer/geocatalog_configs/sentinel-2-l2a-tutorial-231/stac.json
articles/planetary-computer/geocatalog_configs/sentinel-2-l2a-tutorial-231/tile-settings.json
articles/planetary-computer/geocatalog_configs/sentinel-2-l2a_Grindavik/mosaics.json
articles/planetary-computer/geocatalog_configs/sentinel-2-l2a_Grindavik/render-options.json
articles/planetary-computer/geocatalog_configs/sentinel-2-l2a_Grindavik/stac.json
articles/planetary-computer/geocatalog_configs/sentinel-2-l2a_Grindavik/tile-settings.json
articles/planetary-computer/geocatalog_configs/umbra-sar/mosaics.json
articles/planetary-computer/geocatalog_configs/umbra-sar/render-options.json
articles/planetary-computer/geocatalog_configs/umbra-sar/stac.json
articles/planetary-computer/geocatalog_configs/umbra-sar/tile-settings.json
articles/planetary-computer/geocatalog_configs/umbra-sar-airplanes/mosaics.json
articles/planetary-computer/geocatalog_configs/umbra-sar-airplanes/render-options.json
articles/planetary-computer/geocatalog_configs/umbra-sar-airplanes/stac.json
articles/planetary-computer/geocatalog_configs/umbra-sar-airplanes/tile-settings.json
articles/planetary-computer/geocatalog_configs/umbra-sar-ships/mosaics.json
articles/planetary-computer/geocatalog_configs/umbra-sar-ships/render-options.json
articles/planetary-computer/geocatalog_configs/umbra-sar-ships/stac.json
articles/planetary-computer/geocatalog_configs/umbra-sar-ships/tile-settings.json
articles/planetary-computer/helper-content/collection-config-scraper.py
articles/planetary-computer/helper-content/generate_collection_docs.py
