# Testing the new code owners feature in GitHub. Please contact Cory Fowler if you have questions.
#
# Help: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Background: https://github.blog/2017-07-06-introducing-code-owners/
# NOTE: The people you choose as code owners must have _write_ permissions for the repository. When the code owner is a team, that team must be _visible_ and it must have _write_ permissions, even if all the individual members of the team already have write permissions directly, through organization membership, or through another team membership.

# Configuration
*.json @SyntaxC4 @snoviking
articles/zone-pivot-groups.yml @SyntaxC4 @snoviking
