---
title: Azure Confidential Ledger offline Ledger verification
description: Azure Confidential Ledger offline Ledger verification
services: confidential-ledger
author: msmbaldwin
ms.service: confidential-ledger
ms.topic: overview
ms.date: 04/15/2021
ms.author: mbaldwin

---
# Offline Ledger verification

In addition to interacting with the Ledger, it is possible to verify the Ledger's integrity via [TamperCheck](https://msazure.visualstudio.com/One/_git/ACC%20Ledger?path=%2Fsrc%2Ftampertool%2FREADME.md&version=GBmaster&_a=preview&line=1), a Python tool to verify CCF [DEFINE THIS ACRONYM] ledger integrity while offline. You can run this tool locally by copying all Ledger blocks or setup an Azure Web Job or Azure Function.

## Next steps

- [Overview of Microsoft Azure Confidential Ledger](overview.md)
