html {
  font-size: 100%;
}
body {
  font-size: 14px;
  line-height: 21px;
  font-family: "Segoe UI","Helvetica",Garuda,Arial,sans-serif;
  color: rgb(102, 102, 102);
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 33px;
  margin-bottom: 20px;
}
h1, h2, h3 {
  margin: 0pt;
  color: rgb(50, 50, 50);
  font-weight: 100;
  line-height: normal;
}
h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
h3 {
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
p, ul, ol, h4, h5, h6, img, table {
  margin-bottom: 14px;
}
p, ul {
  margin: 0pt 0pt 12px;
}
a, a:link, a:visited {
  text-decoration: none;
  color: rgb(74, 145, 172);
}
b, strong {
  font-weight: bold;
}
pre {
  padding: 2px;
  border: 1px solid rgb(136, 136, 136);
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre, code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
img {
  margin-top: 10px;
  max-width: 100%;
  border: 0pt none;
  vertical-align: middle;
}